<h1>Heap sort</h1>

<h2>lists in python</h2>

In [1]:
# lists in python can be created with square bracket notation
L = [1, 2, 3, "hello world", None, True]

In [2]:
# they are zero indexed as usual
L[5]

True

In [3]:
#crate lists with the list() function
list([1,2,3,4])

[1, 2, 3, 4]

In [4]:
L[-3]

'hello world'

In [5]:
# in-built function for creating iterables
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
# in-built function for creating iterables
L = list(range(20))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
#list slicing
L[1:10:2]

[1, 3, 5, 7, 9]

In [9]:
#quick way to cycle the list to the left
i = 5
L[i:] + L[:i]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4]

In [12]:
# tupled -- immutable
T = (1, 2, 3, 4)

In [13]:
T[0]

1

In [14]:
T[3:]

(4,)

In [15]:
# tuples are created with commas, as opposed to round brackets
T = 1, 2, 3, 4
T

(1, 2, 3, 4)

In [16]:
hash(T)

590899387183067792

In [17]:
# you can use tuples for assignment
a, b = 3, 4

In [18]:
a

3

In [19]:
b

4

In [20]:
#nice trick for swapping two values
a, b = b, a

In [21]:
a

4

In [22]:
L = list(range(10))

In [24]:
# list comprehension
[i**3 for i in L]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [25]:
# curve ball
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]